.background-footer.MuiBox-root{
    background-color: rgb(191, 226, 253);
    color: black;
    padding: 20px 0;
    margin-top: auto;
}

.footer-column-title.MuiTypography-root{
    color: rgb(57, 85, 179);
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.61);
    text-align: center;
    margin-bottom: 15px;
    border-radius: 5px;
}

.footer-grid-content{
    justify-content: center;
    align-items: center;
}
