.spiegazione-section{
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 35px;
}

.spiegazione-section h1, .spiegazione-section h2{
    color: rgb(57, 85, 179);
}

.spiegazione-section h1,.spiegazione-section p{
    margin-bottom: 15px;
}

.spiegazione-section p{
    margin-top: 10px;
}

.spiegazione-section h1{
    font-size: 30px;
}

.spiegazione-section p, .spiegazione-section ul li{
    font-weight: 500;
    font-size: 20px;
}

.spiegazione-section a{
    color: rgb(33, 66, 175);
    font-weight: 600;
    text-decoration: underline;
}

.spiegazione-section ul li span{
    color: rgb(57, 85, 179);
    font-weight: 600;
}

.spiegazione-section ul li {
    position: relative;
}

.spiegazione-section ul li::before{
    content: '•';
    color: rgb(57, 85, 179);
    font-size: 1.5rem;
    margin-right: 10px;
}

.spiegazione-section ul{
    list-style: none;
}