footer{
    background: black;
    padding: 1rem 0 0 0;
    width: 100%;
    font-family: "Open Sans";
    color: white;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

footer .links{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0;
}

footer .links li{
    margin: 0 10px;
}

footer .links li a{
    text-decoration: none;
}

footer .links li a img{
    width: 52px;
    height: 52px;
}

footer .links li a .logo-links{
    width: 84px;
    height: 52px;
}

